<h1> Sign up form </h1>

<form action="/register" method="POST">
	<input type="text" name="s_id"
		placeholder="enter your ID">
	<input type="text" name="s_name"
		placeholder="enter your name">
	<input type="text" name="level"
		placeholder="enter the level">
	<button>Submit</button>
</form>

<h1>This is home page</h1>

<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
